html, *{margin: 0px; padding: 0px;}

#header_wrap{
	background: url("../images/header_bg.png");
	background-size: 100%;
	width: 100%;
	height: 100%;
}


#header_wrap #header_container{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 100%;
}

#header_wrap #header_container #header_logo{
	width: 18%;
	padding-top: 3.5%;
}

#header_wrap #header_container h1{
	color: rgb(236, 240, 241);
	font-family: 'Titillium', sans-serif;
	font-size: 4em;
	font-weight: 400;
	padding-top: 2%;
}

#header_wrap #header_container h2{
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	color: rgb(45, 63, 81);
	font-family: 'Titillium', sans-serif;
	font-size: 1.7em;
	font-weight: 700;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	width: 8em;
	border-style: solid;
	border-width: 0.2em;
	border-color: rgb(45, 63, 81);
}

#header_wrap #header_container #header_arrow{
	margin-top: 2%;
	width: 2.5%;
}

#skills_wrap{
	background-color: rgb(236, 240, 241);
	text-align: center;
}

#skills_wrap h2{
	font-family: 'Titillium', sans-serif;
	font-size: 3em;
	font-weight: 400;
	padding-top: 2%;
	color: rgb(45, 63, 81);
}

#skills_wrap table{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	padding-bottom: 5%;
}

#skills_wrap .skills_td{
	font-family: 'Titillium', sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	padding-top: 2%;
	color: rgb(45, 63, 81);
}

#skills_wrap .skills_td p{
	margin-top: 6%;
}

#skills_wrap .skills_td img{
	width: 80%;
}

#skills_wrap .skills_lines img{
	width: 100%;
}

